@model List<WebUI.Dtos.MenuTableDtos.ResultMenuTableDto>
@{
    Layout = null;
    string color = "";
    string status = "";
    string target = "";
    string icon="";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .widgettrue {
        width: 200px;
        height: 100px;
        background-color: red;
        display: flex;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .widgetfalse {
        width: 200px;
        height: 100px;
        background-color: #2ecc71;
        display: flex;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .widget-icon {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        }

        .widget-icon i {
        font-size: 24px;
        color: #2ecc71;
        }

        .widget-text {
        margin-left: 20px;
        }

        .widget-text h3 {
        margin: 0;
        font-size: 18px;
        }

        .widget-text p {
        margin: 0;
        font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Masa Seçimi</title>
</head>
@await Component.InvokeAsync("_UILayoutHeadPartialComponent")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutMenuNavbarPartialComponent")
    <br />
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index/">Ana Sayfa </a>
                    <span class="breadcrumb-item active">Masa Seçimi</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5" style="margin-right:10px;">
            @foreach (var item in Model)
            {
                @if (item.Status)
                {
                    status = "Masa Dolu";
                    color = "widgettrue";
                    target = "/Basket/Index/"+item.MenuTableID;
                    icon = "fa-solid fa-cash-register";
                }
                else
                {
                    status = "Masa Boş";
                    color = "widgetfalse";
                    target = "/Menu/Index/"+@item.MenuTableID;
                    icon = "fas fa-chair";
                }
                <div class="col-md-3 mb-4">
                    <div class="@color">
                        <div class="widget-icon">
                            <a href="@target"> <i class="@icon"></i></a>
                        </div>
                        <div class="widget-text">
                            <h3>@item.Name</h3>
                            <h3>@status</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <br />
    <br />

    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")

    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")
</body>

</html>
